# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @JeremyF3

# Specific file ownership
src/*   @JeremyF3
*.py    @JeremyF3